body {
    background: linear-gradient(#9896F0, #FBC8D5);
    background-attachment: fixed;
    box-sizing: border-box;
    position: relative;

}
.app{
    font-family: "Trebucent MS", "Lucide Grande", Vendana, Arial, sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 150px 80px;
}

.questions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.question-box {
    background-color: rgb(21, 21, 21);
    margin: 15px;
    color: aliceblue;
    border-radius: 20px;
    padding: 0 40px 10px 40px;
}

.question-box h1 {
    text-align: center;
}

.question-buttons {
    display: flex;
    flex-direction: column;
}

.question-button {
    margin: 5px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: rgb(75, 136, 111);
    color: rgb(255, 255, 255);
}

.question-button:disabled {
    background-color: rgb(121, 121, 121);
    color: rgb(136, 134, 134)
}

.answer-display {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.answer-display.correct {
    color: rgb(211, 211, 117);
}

.answer-display.wrong {
    color: rgb(211, 134, 117);
} 

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    margin: 20px;
    text-decoration: none;

}

p {
    text-align: center;
    font-family: "Trebucent MS", "Lucide Grande", Vendana, Arial, sans-serif;
}

@media screen and (min-width: 800px) { 
    .container {
        margin: 1em 2em;
    }
}